<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477673023702-6leer8d70j0gmcmnapg5urq9uaai9k9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477673023702-6leer8d70j0gmcmnapg5urq9uaai9k9n</string>
	<key>API_KEY</key>
	<string>AIzaSyB1ONIQI3ks0G2R7f-ZA31YpS6x22twIhY</string>
	<key>GCM_SENDER_ID</key>
	<string>477673023702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.StockDown</string>
	<key>PROJECT_ID</key>
	<string>barcode-scanner-e4023</string>
	<key>STORAGE_BUCKET</key>
	<string>barcode-scanner-e4023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477673023702:ios:bc49fd9bc236d6ee</string>
	<key>DATABASE_URL</key>
	<string>https://barcode-scanner-e4023.firebaseio.com</string>
</dict>
</plist>